@tailwind base;
@tailwind components;
@tailwind utilities;

*::selection {
  color: #fff;
  background-color: rgb(104, 104, 255);
}

html {
  scroll-behavior: smooth;
}

img::selection {
  background-color: transparent;
}


body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #ddd;
}

body::-webkit-scrollbar-thumb {
  background-color: #6e6e6e;
}